
.navbar-home {
    background-color: #afd275
}
.navbar-brand {
    color: #efe2ba
}

.navbar-brand {
    hover: #FF6726
}
.navbar-brand {
    font-family: 'Times New Roman', Times, serif
}
.navbar-brand {
    font-size: 150%
}

.carousel {

    height:100%;
    
    }
.btn-lg {
    background-color: #afd275
}
.btn-lg {
    border-color: #afd275
}
.btn-lg {
   font-weight: bold
}
.btn-lg {
    font-size: 30px
 }
